/.htaccess
/htaccess_*
!/htaccess_default
/_ss_environment*
!/_ss_environment_default.php
/assets/*
!/assets/.htaccess
/framework/
/silverstripe-cache/
/nbproject/
/debug.log
/silverstripe.log
/vendor
.DS_Store
/themes
/localegeoip
/email_verified_member
/bootstrap_social_connect
/bootstrap_extra_fields
/bootstrap_navbar_languageform
/bootstrap_navbar_loginform
/extendedobjects
/geoform
/geoip
/legacyfields
/mobile_detector
/session_extender
/smtpmailer
/gua-cookie-policy
/shariff

/benchmark

/app_seeder